.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
  display: block;
  background-color: #ddd;
}



.table .th {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.table .tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black
}

.table .tr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}


.table .td{
    width: 100%;
    
    text-align: center;
   
}

.table .tr:hover {
  background-color: greenyellow;
  color: black;
}

.table .th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: black;
}

.sort {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.ul {
    width: 100%;
    padding-bottom: 10px;
}

.li {
    margin-top: -5px;
    height: 30px;
}

.form {
  max-width: 60rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea,
.form select {
  display: block;
  width: 100%;
}


.form input,
.form textarea,
.form select {
  font: inherit;
  padding: 0.25rem;
}


.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button[type='button'] {
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions button[type='button']:hover {
  background-color: var(--color-gray-800);
}

button {
  cursor: pointer;
}